body{
    margin: 0;
    padding: 0;
    background: url(../imagenes/cabina.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}
.login{
    width: 320px;
    height: 420px;
    background:snow;
    opacity: 0.6;
    color:hotpink;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.login h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 55px ;

}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:crimson;
    color: #fff;
    font-size: 19px;
    border-radius: 20px;
    cursor: pointer;
}

.login input[type="submit"]:hover{
    color: black;
    background:blanchedalmond;
}

.login a{
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
    color:gray;
}
.login a:hover{
    color: lime;
}