body{
    margin: 0;
    padding: 0;
    background: url(../imagenes/fondo.jpeg) no-repeat center top;
    background-size: cover;
    font-family: serif;
    height: 100vh;
}
.login{
    width: 320px;
    height: 720px;
    background: rgb(167, 161, 161);
    opacity: 0.6;
    color:blueviolet;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.login h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 55px ;

}

.login ::placeholder{
    color:white
}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    background:transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 18px;
}
.login input[type="submit"]{
    padding: 2px;
    border: none;
    outline: none;
    height: 40px;
    background:crimson;
    color: #fff;
    font-size: 19px;
    border-radius: 20px;
    cursor: pointer;
}
.login select{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color:black;
    height: 40px;
    font-size: 18px;
}
.login a{
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
    color:yellowgreen;
}
.login a:hover{
    color:red;
}
.login input[type="submit"]:hover{
    color: black;
    background:blanchedalmond;
}