body{
    font-family:Georgia, Times, serif;
    color:#333;
    font-size: 1.3rem;
    line-height: 1.6em;
    margin:0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
    
}

    
p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    max-width: 850px;
}
.header{
    background: #9400D3;
    color:white;
    align-content: center;
}
.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: 	#DCDCDC;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}
aside {
    width: 80%;
    padding-left: 0px;
    margin-left: 0px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    position: relative;
    bottom: 320px;
  }