* {
    margin: 0px;
    padding: 0px;
  }
  
  #sidebar {
    position: fixed;
    width: 290px;
    height: 90%;
    
    left: -300px;
    transition: all 1s ;
    border-radius: 40px;
    top: 9vh;
    z-index: 1;
    border-radius: 11px;
    
    background: rgba(112, 113, 185, 0.945);
    box-shadow:  35px 0px 0px #44434363,
    0px 0px 0px #fbfbfb;
  }
  
  #sidebar.active {
    left: 40px;
    box-shadow:  0px 0px 0px #44434363,
    0px 0px 0px #fbfbfb;
    transition: all 1s;
  }
  
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
   
  }
  
  .logo {
      height: 11vh;
      width: 5vw;
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 330px;
    top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 8px;
  }
  .Principal
  {
    background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


  }
  body{
  background-image: url(../img/patronFondo.jpg);
  
  }
  .Imgpasiente
  {
    border-radius: 50%;
    width: 23vw;
  }
  

input
{
  border-color: transparent;
  border-radius: 1px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #cccccc,
              inset -5px -5px 10px #f4f4f4;
}